Flask==3.0.3
Flask-CORS==4.0.1
Flask-Limiter==3.7.0
Flask-WTF==1.2.1
requests==2.32.3
Pillow==10.4.0
mediapipe==0.10.14
SQLAlchemy==2.0.32
psycopg[binary]==3.2.9
bcrypt==4.2.0
PyJWT==2.9.0
python-dotenv==1.0.1
Werkzeug==3.0.4
gunicorn==22.0.0
